
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}




@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    /*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
}

/* Icons */
/*@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}*/
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: none;

    width: 0px;
    height: 0px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 0px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0px;

}
[dir='rtl'] .slick-prev
{
    right: 0px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 0px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 0px;
}

.slick-dots
{
    position: absolute;
    bottom: 0px;

    display: none;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


*{margin:0;padding:0;}
li{list-style-type:none;}
img{border:none;}
a{text-decoration:none;}

@font-face{
	font-family:PlayfairDisplayRegular;
	src:url(../fonts/PlayfairDisplay-Regular.otf),
	url(../fonts/PlayfairDisplay-Regular.eot);
}

@font-face{
	font-family:PlayfairDisplayItalic;
	src:url(../fonts/PlayfairDisplay-Italic.otf),
	url(../fonts/PlayfairDisplay-Italic.eot);
}

@font-face{
	font-family:PlayfairDisplayBold;
	src:url(../fonts/PlayfairDisplay-Bold.otf),
	url(../fonts/PlayfairDisplay-Bold.eot);
}

@font-face{
	font-family:RalewayBlack;
	src:url(../fonts/Raleway-Black.ttf),
	url(../fonts/Raleway-Black.eot);
}

@font-face{
	font-family:RalewayLight;
	src:url(../fonts/Raleway-Light.ttf),
	url(../fonts/Raleway-Light.eot);
}

.test{

}

.body{
	height: 100%;
	min-width: 320px;
	color:#757586;
	overflow: hidden;
}

.br{
	display:none;
}

label{
	cursor:pointer;
}

/*block header*/
.header{
	background: #fff;
	font-size:12px;
	font-family:PlayfairDisplayRegular, Georgia, 'Times New Roman', Times, serif;
}

.header .content{
	max-width:1920px;
	margin:0 auto;
	overflow:hidden;
}

.header .logo{
	float:left;
	width: 170px;
	overflow: hidden;
	margin-top: 60px;
	margin-left: 110px;
}

.header .logo img{
	display:block;
	width:100%;
	height:auto;
	position: relative;
	z-index: 3;
}

.header .main-menu{
	float:right;
	margin-right: 80px;
	margin-top: 40px;
}

.header .menu{
	overflow:hidden;
}

.header .menu li{
	float:left;
	margin-left:20px;
}

.header .menu li:first-child{
	margin-left:0px;
}

.header .menu a{
	display:block;
	padding:10px 13px;
	border:1px solid #fff;color:#757586;
	text-transform:uppercase;
}

.header .menu .active,
.header .menu a:hover{
	border:1px solid #757586;
}

/*block headerMob*/
.headerMob{
	display: none;
	overflow: hidden;
	font-size: 20px;
	font-family:PlayfairDisplaySCItalic, Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	background: #fff;
}

.headerMob .logo{
	float:left;
	width: 70px;
	overflow: hidden;
	margin-top: 25px;
	margin-left: 25px;
}

.headerMob .logo img{
	display:block;
	width:100%;
	height:auto;
}

.headerMob .main-menu{
	float:right;
	margin-right: 20px;
	margin-top: 15px;
}

.menuMob{
	position: absolute;
	z-index: 9;
	width: 100%;
	left: 0;
	top: 44px;
	background: #fff;
	text-align: center;
	overflow: hidden;
	height: 0;
}

.menuMob .menu{
	padding-top: 105px;
	padding-bottom: 125px;
}

.menuMob a{
	color: #000;
}

.menuMob .active,
.menuMob a:hover{
	color: #ffc11b;
}

.menuMob .menu li{
	margin-bottom: 55px;
}

.menuMob .menu li:last-child{
	margin-bottom: 0;
}

.headerMob .button{
	cursor:pointer;
	width: 22px;
	overflow: hidden;
}

.headerMob .button img{
	display: block;
	width: 100%;
	height: auto;
}

.headerMob .button img{
	transform:rotate(-90deg);
}

.headerMob .button img:last-child{
	display:none;
}

.headerMob .social{
	display: inline-block;
	padding: 25px 40px;
	border-top:1px solid #757586;
	border-bottom:1px solid #757586;
}

.headerMob .social img{
	display: block;
	width:17px;
	margin: 0 auto
}

.headerMob .social li{
	float: left;
	margin-left: 25px;
}

.headerMob .social li:first-child{
	margin-left: 0;
}

.headerMob .video{
	padding: 40px 0;
	font-size:10px;
	font-family:PlayfairDisplayRegular, Georgia, 'Times New Roman', Times, serif;
	text-transform: uppercase;
	font-style: normal;
	color: #dbc5a2;
}

.headerMob .video:hover{
	color: #ffc11b;
}

.headerMob .video img{
	width:25px;
	cursor:pointer;
	margin-bottom: 25px;
}

.headerMob .video span{
	cursor: pointer;
}

.main-wrapper{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.main-content{
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}

.main-wrapper .container{
	display: flex;
	overflow: hidden;
	height: 100%;
}

.main-wrapper .block-left{
	width: 45%;
	height: 930px;
	background: #fff;
	position: relative;
}

.main-wrapper .block-right{
	width: 55%;
	height: 930px;
	position: relative;
}

.slider{
	user-select:text;
}

.headline{
	margin-left: 110px;
	margin-top: 160px;
	user-select:text;
}

.main-headline{
	font-size: 50px;
	position: relative;
	user-select:text;
}

.main-headline span:first-child{
	color: #000;
	font-family:PlayfairDisplayItalic, Georgia, 'Times New Roman', Times, serif;
	z-index: 1;
	position: relative;
	z-index: 1;
}

.main-headline span:nth-child(2){
	font-family:PlayfairDisplayBold, Georgia, 'Times New Roman', Times, serif;
	position: absolute;
	left: 0;
	top: -63px;
	font-size: 2em;
	color: #f0f0f0;
	font-style: normal;
	font-weight: bold;
}

#slider .slick-slide:nth-child(1) .main-headline span:nth-child(2){
	display: block;
	font-size: 0.4em;
	margin-top: 40px;
	font-family:PlayfairDisplayItalic, Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	color: #757586;
	position: static;
}

.text{
	font-size: 15px;
	font-family:RalewayLight, Arial, Helvetica, sans-serif;
	margin-bottom: 0; 
	padding-right: 80px;
	line-height: 1.5;
	margin-top: 40px;
	user-select:text;
}

.text i{
	font-size: 20px;
	font-family: PlayfairDisplayItalic, Georgia, 'Times New Roman', Times, serif;
}

.progress{
	position: absolute;
	z-index: 1;
	left: 110px;
	bottom: 20%;
	font-size: 16px;
	text-transform: uppercase;
	color: #ed8900;
	font-family:PlayfairDisplayRegular, Georgia, 'Times New Roman', Times, serif;
}

.progress2{
	display: none;
}

#slider .slick-slide:last-child .progress{
		display: none;
}

#slider .slick-slide:last-child .progress2{
		display: block;
}


.main-wrapper .progress span{
	display: inline-block;
	cursor: pointer;
}

.main-wrapper .progress a{
	color: #ed8900;
}

.main-wrapper .progress span:hover,
.main-wrapper .progress a:hover{
	color: #000;
}

.main-wrapper .progress img{
	width: 25px;
	margin-left: 40px;
	float: right;
	cursor: pointer;
}

.main-wrapper .owl-nav,.owl-dots{
	display: none;
}

.main-wrapper .block-right p{
	font-family:PlayfairDisplayItalic, Georgia, 'Times New Roman', Times, serif;
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	background: #fff;
	padding: 20px 0;
	font-size: 15px;
}

.main-wrapper .block-right p span:last-child{
	color: #ffc835;
}

.main-wrapper .slider .img{
	width: auto;
	height: 100%;
}

.main-wrapper .slider .block-right .img:nth-child(3){
	position: absolute;
	z-index: 2;
	top: 0;
	right: 80px;
}

.text p{
	margin-bottom: 30px;
}

.text p:last-child{
	margin-bottom: 0px;
}

/*bock footer*/
.footer{
	position: absolute;
	z-index: 8;
	bottom: 30px;
	left: 110px;
	text-transform: uppercase;
	font-family:PlayfairDisplayRegular, Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
	color: #000;
}

.footer a{
	color:#000;
}

.footer a:hover,
.footer span:hover,
.footer li:first-child:hover{
	color: #ffc11b;
}

.footer span{
	cursor: pointer;
}

.footer img{
	display: inline-block;
	width: 20px;
	position: relative;
	top: 5px;
	margin-left: 40px;
	cursor: pointer;
}

.footer .content{
	max-width: 1920px;
}

.footer ul{
	display: flex;
}

.footer li{
	margin-right: 90px;
}

.footer li:last-child{
	margin-right: 0;
}

.perto{
	position: absolute;
	bottom: 10px;
	right: 30px;
	z-index: 8;
}

.perto img{
	display: block;
	width: 75px;
}

/*block arrow slider*/
.arrow-slider{
	position: absolute;
	width: 100%;
	min-width: 320px;
	z-index: 7;
	bottom: 0px;
	left: 0;
	text-align: center;
}

.arrow-slider img{
	width: 35px;
}

.arrow-slider div{
	display: inline-block;
	background: #fff;
}

.arrow-slider span{
	display: inline-block;
	text-align: center;
	padding:25px 30px;
	cursor: pointer;
}

/*block .modal-window*/
.modal-window{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	left:0;
	top:0;
	display:none;
	z-index:100;
}

.close-plaaer{
	width:20px;
	cursor:pointer;
	z-index:1;
	position:absolute;
	top:25px;
	right:25px;
}
.close-plaaer img{
	display:block;
	width:100%;
	height:auto;
}

.player{
	max-width:70%;
	overflow:hidden;
	margin:0 auto;
	margin-top:50px
}

.thumb-wrap{
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;height:0;
	overflow:hidden;
}

.thumb-wrap iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*PAGE2*/
.page2 .slider .slick-slide  img{
	height: 930px;
	width: auto;
}

.page2 br{
	display: none;
}

.page2 .text p{
	margin: 0;
	line-height: 2;
}

/*PAGE3*/
.page3 .main-headline span:nth-child(2){
	padding: 0;
	margin: 0;
	font-family:PlayfairDisplayItalic, Georgia, 'Times New Roman', Times, serif;
	color: #757586;
	font-size: 12px;
	bottom: 7px;
	left: auto;
	top: auto;
	right: 16%;
	font-weight: normal;
}

.page3 .main-content{
	height: 930px;
}

.page3 .container{
	display: block;
}

.page3 .block-left{
	height: auto;
	width: 75%;
}

.page3 .progress{
	bottom: 30px;
	left: 350px;
}

.figure-page3{
	height: 100%;
	width: auto;
	right: 20px;
	top: 0;
	position: absolute;
	z-index: 2;
}

.page3 .headline{
	margin-bottom: 100px;
}

.page3 .formEl{
	background:#fff;
	border:none;
	width:100%;
	outline:none;
	resize:none;
	color:#060606;
	border-bottom:1px solid #cbcbcb;
	font-family:RalewayLight, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	padding-bottom: 3px;
}

::-webkit-input-placeholder{
	color:#000;
}
::-moz-placeholder{
	color:#000;
}
:-moz-placeholder{
	color:#000;
}
:-ms-input-placeholder{
	color:#000;
}

.block-form{
	margin-left: 110px;
}

.block-form,
form,
.information{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.form{
	width: 46%;
}

.formDiv{
	width: 41%;
}

.information{
	width: 40%;
}

.information .box1,
.information .box2{
	width: 41%;
}

label{
	display: block;
	font-size:12px;
	font-family:RalewayLight, Arial, Helvetica, sans-serif; 
	margin-bottom: 5px;
}

.formDiv{
	margin-bottom: 40px;
}

.formSubmit{
	outline:none;
	resize:none;
	background:#fff;
	border:none;
	width:100%;
	font-family:PlayfairDisplayItalic, Georgia, 'Times New Roman', Times, serif;
	text-align:left;
	color:#000;
	font-size:21px;
	cursor:pointer;
	background:url('../images/arrow_black_right.svg') no-repeat 100% 73%;
	background-size: 23px auto;
	padding-top: 3px;
}

.formSubmit:hover,
#button-file1:hover{
	color: #f09c29;
}

.backgroundSubmit{
	background:url('../images/check.jpg') no-repeat 100% 50%;
	background-size: 23px auto;
}

#button-file1{
	display:block;
	width:100%;
	border:1px solid #f09c29;
	padding:8px 0;
	color:##757586;;
	font-size:10px;
	cursor:pointer;
	font-family:RalewayLight, Arial, Helvetica, sans-serif; 
	height: 21px;
	overflow: hidden;
}

.file{
	display:none;
}

.button-file1 img{
	margin-left:8px;
	margin-right:10px;
	position:relative;
	top:4px;
}
.page3 .border{
	border-bottom:1px solid red;
}

.information img{
	width:17px;
}

.information li{
	margin-bottom:20px;
}

.information li:first-child{
	color:#000;
	font-family:PlayfairDisplayItalic, Georgia, 'Times New Roman', Times, serif;
	font-size:18px;
	padding-bottom:9px;
	border-bottom:1px solid #cbcbcb;
}

.information{
	font-family:RalewayLight, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	margin-top: 6px;
}

.information a{
	color:#757586;
}

.information a:hover{
	color:#f09c29;
}

.page3 .social{
	margin-top: 40px;
	width: 75%;
	overflow: hidden;
}

.page3 .social li{
	float: left;
	margin-right: 18px;
}

.page3 .social li:first-child{
	width: 100%;
	margin-right: 0;
}

.page3 .footer li:nth-child(2){
	padding-top: 5px;
}

.page3 .footer li:nth-child(2) a{
	color:#f09c29;
}

.page3 .footer li:nth-child(2) a:hover{
	color:#000;
}

.page3 .footer li:nth-child(2) img{
	top: 3px;
}



@media only screen  and (min-width: 768px) and  (max-height: 1040px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide  img,
	.page3 .main-content{
		height: 880px;
	}
}

@media only screen and (min-width: 768px) and  (max-height: 990px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: 840px;
	}
}

@media only screen and (min-width: 768px) and  (max-height: 950px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: 800px;
	}
}

@media only screen and (min-width: 768px) and  (max-height: 910px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: 770px;
	}

	.headline{
		margin-top: 50px;
	}
}

@media only screen and (min-width: 768px) and  (max-height: 880px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: 720px;
	}

	.headline{
		margin-top: 50px;
	}
}

@media only screen and (min-width: 768px) and  (max-height: 840px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: 690px;
	}

	.headline{
		margin-top: 50px;
	}
}

@media only screen and (min-width: 768px) and  (max-height: 800px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: 660px;
	}
	.headline{
		margin-top: 50px;
	}
}

@media only screen and (min-width: 768px) and  (max-height: 770px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: 600px;
	}
	.headline{
		margin-top: 50px;
	}
}

@media only screen and (min-width: 768px) and  (max-height: 700px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: 560px;
	}

	.headline{
		margin-top: 50px;
	}
}

@media only screen and  (min-width: 768px) and (max-height: 670px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: 530px;
	}
}

@media only screen and (max-width: 1750px){
	.form,
	.information,
	.formDiv,
	.information .box1, .information .box2{
		width: 47%;
	}

	.text{
		padding-right: 20px;
		margin-top: 20px;
	}

	.progress{
		bottom: 15%;
	}
}

@media only screen and (max-width: 1500px){
	.headline{
		margin-top: 40px;
	}

	.page3 .headline{
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 1300px){

	.header .logo,
	.block-form{
		margin-left: 25px;
	}

	.header .main-menu{
		margin-right: 25px;
	}

	.progress,
	.footer{
		left: 25px;
	}

	.perto{
		right: 25px;
	}

	.headline{
		margin-left: 25px;
	}

	.page3 .block-left{
		width: 73%;
	}
}

@media only screen and (max-width: 1150px){
	.page2 .text{
		font-size: 14px;
	}

	.page3 .block-left {
	    width: 69%;
	}
}

@media only screen and (max-width: 1100px){
	.footer img{
		margin-left: 10px;
	}

	.footer li {
	    margin-right: 30px;
	}

	.page2 .footer img{
		margin-left: 40px;
	}

	.page2 .footer li{
		 margin-right: 0px;
	}

	.page3 .social{
		width: 90%;
	}

	.button-file1 img {
	    margin-left: 5px;
	    margin-right: 5px;
	}

	.page3 .main-headline span:nth-child(2){
		right: 0%;
	}

	.main-wrapper .slider .block-right .img:nth-child(3){
		right: 0;
	}

	.page2 .text{
		font-size: 13px;
	}
}

@media only screen and (max-width: 970px){
	.main-headline{
		font-size: 45px;
	}

	.page3 .main-headline span:nth-child(2){
		position: static;
		display: block;
		margin-top: 10px;
	}

	.main-headline span:nth-child(2){
		top: -64px;
	}

	.information{
		margin-top: 9px;
	}

	.formSubmit{
		padding-top: 8px;
		font-size: 16px;
	}

	.information li:first-child{
		font-size: 16px;
	}

	.information{
		font-size: 10px;
	}

	.page3 .social li {
	    float: left;
	    margin-right: 10px;
	}
}

@media only screen and (max-width: 880px){
	.main-headline{
		font-size: 40px;
	}

	.main-headline span:nth-child(2){
		top: -57px;
	}

	label{
		margin-bottom: 0;
	}

	.form{
		width: 48%;
	}

	.page3 .social li{
		margin-right: 5px;
	}

	.page3 .block-left {
	    width: 66%;
	}

	.information{
		margin-top: -2px;
	}

	.page2 .progress{
		bottom: 12%;
	}

	.information {
	    margin-top: 4px;
	}

	.page2 .text{
		font-size: 12px;
	}
}

@media only screen and (max-width: 830px){
	.main-headline{
		font-size: 35px;
	}

	.main-headline span:nth-child(2){
		top: -49px;
	}

	.information{
		font-size: 9px;
	}

	.main-wrapper .block-right p{
		font-size: 14px;
	}
}

@media only screen and  (max-width: 800px) and (min-height: 900px){
	.page3 .main-content,
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img{
	    height: 800px;
	}

	.page3 .headline{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.page3 .main-headline span:nth-child(2){
		position: static;
		display: block;
		 margin-top: 10px;
	}

	.form, .information{
		width: 100%;
	}

	.information{
		font-size: 12px;
	}

	.page3 .social li{
		margin-right: 15px;
	}

	.page3 .block-left {
	    height: auto;
	    width: 45%;
	}
}

@media only screen and  (max-width: 1030px) and (min-height: 1300px){
	.page3 .main-content,
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img{
	    height: 1100px;
	}

	.page3 .headline{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.page3 .main-headline span:nth-child(2){
		position: static;
		display: block;
		 margin-top: 10px;
	}

	.form, .information{
		width: 100%;
	}

	.information{
		font-size: 12px;
	}

	.page3 .social li{
		margin-right: 15px;
	}

	.page3 .block-left {
	    height: auto;
	    width: 45%;
	}
}

@media only screen and (min-height: 1500px){
	.page3 .main-content,
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img{
	    height: 1700px;
	}

	.page3 .headline{
		margin-top: 200px;
		margin-bottom: 100px;
	}

	.page3 .main-headline span:nth-child(2){
		position: static;
		display: block;
		 margin-top: 10px;
	}

	.form, .information{
		width: 100%;
		margin-bottom: 100px;
	}

	.information{
		font-size: 12px;
	}

	.page3 .social li{
		margin-right: 15px;
	}

	.page3 .block-left {
	    height: auto;
	    width: 45%;
	}
}


@media only screen and (max-width: 767px){
	.main-wrapper .block-left,
	.main-wrapper .block-right,
	.page2 .slider .slick-slide img,
	.page3 .main-content{
		height: auto;
	}

	.header,
	.progress{
		display: none;
	}

	.headerMob{
		display: block;
	}

	.perto,
	.footer li:last-child{
		display: none;
	}

	.footer{
		left: auto;
		color: #fff;
		right: 25px;
	}

	.footer li {
	    margin-right: 0px;
	}

	.main-wrapper{
		position: relative;
	}

	.arrow-slider{
		text-align: left;
	}

	.footer img {
	    margin-left: 15px;
	}

	.arrow-slider span {
	    padding: 25px 20px;
	}

	.arrow-slider span:first-child{
		border-right: 2px solid #d5d5d6;
	}

	.main-wrapper .block-left{
		position: static;
	}

	.headline{
		position: absolute;
		z-index: 4;
		margin: 0;
		left: 25px;
		top: 65px;
	}

	.text,
	.page2 .text{
		font-size: 12px;
	}

	.text p{
		margin-bottom: 40px;
		line-height: 2;
	}

	.main-wrapper .block-right p span{
		display: none;
	}

	.main-wrapper .block-right p{
		padding: 46px 0;
		font-size: 0px;
	}

	.page1 .block-left,
	.page1 .block-right{
		height: 750px;
	}

	.main-wrapper .slider .block-right .img:nth-child(3){
		height: 370px;
		bottom: 0;
		right: auto;
		bottom: -50px;
		top: auto;
		left: -40%;
	}

	.main-headline{
		font-size: 34px;
	}
	
	#slider .slick-slide:nth-child(1) .main-headline span:nth-child(1),
	#slider .slick-slide:nth-child(1) .main-headline span:nth-child(2){
		color: #fff;
	}

	#slider .slick-slide:nth-child(1) .block-right .img:nth-child(3){
		height: 100%;
		width: auto;
		left: auto;
		right: -20px;
	}

	#slider .slick-slide:nth-child(1) .block-right{
		width: 100%;
	}

	#slider .slick-slide:nth-child(1) .block-left{
		width: 0%;
	}

	#slider .slick-slide:nth-child(1) .headline{
		top: 230px;
	}

	#slider .slick-slide:nth-child(1) .text{
		display: none;
	}

	#slider .slick-slide:nth-child(1) .main-headline span:nth-child(2){
		margin-top: 20px;
		color: #fff;
	}

	.page2 .container{
		display: block;
	}

	.page2 .footer span{
		display: none;
	}

	.page2 .block-left, .page2 .block-right,
	.page3 .block-left{
		width: 100%;
		height: auto;
	}

	.page2 .slider .slick-slide  img{
		height: 500px;
	}

	.page2 .headline{
		position: static;
		width: auto;
		max-width: 768px;
		padding: 50px 25px 20px 25px;
	}

	.page2 .block-right p{
		display: none;
	}

	.page2 br{
		display: block;
	}

	.page2 .headline .text{
		padding: 0;
	}

	.page2 .headline .text p{
		margin-bottom: 40px;
	}

	.page2 .headline .text p:last-child{
		margin-bottom: 0;
	}

	.page2 .footer img{
		margin-left: 0px;
	}

	.figure-page3{
		height: 630px;
		top: auto;
		bottom: 0;
		right: -20px;
	}

	.page3 .headline{
		position: static;
		margin-left: 25px;
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.block-form{
		margin: 0;
		padding: 0 25px;
		display: block;
	}

	.block-form, form, .information{
		display: block;
	}

	label {
	    font-size: 12px;
	    margin-bottom: 5px;
	}

	.page3 .formEl, .information{
		font-size: 14px;
	}

	.page3 .block-left,
	.form,
	.information{
		width: 100%;
		margin: 0;
	}

	.page3 .main-content{
		height: auto;
	}

	.page3 .social{
		margin-bottom: 490px;
	}

	.page3 .social li{
		margin-right: 15px;
	}

	.page3 .footer li{
		margin-right: 0;
	}

	#button-file1{
		font-size: 10px;
	}

	.formSubmit{
		padding: 10px 0 10px 10px;
		border: 1px solid #000;
		background: url('../images/arrow_black_right.svg') no-repeat 95% 50%;
		font-size: 21px;
		background-size: 23px auto;
	}

	.backgroundSubmit{
		background:url('../images/check.jpg') no-repeat 95% 50%;
		background-size: 23px auto;
	}

	.formDiv, .information .box1, .information .box2{
		width: 80%;
	}

	.adress{
		margin-top: 40px;
	}

	.page3 .social{
		width: 47%;
	}

	.page3 .main-headline span:nth-child(2){
		position: static;
		display: block;
		margin: 0;
		margin-top: 10px;
	}

	.page3 .footer span{
		display: none;
	}

	.information li:first-child{
		font-size: 18px;
	}

	#slider .slick-slide:last-child .progress2{
		display: block;
		position: static;
		margin-top: 30px;
	}
}
